
*.aux

*.bbl

*.blg

*.idx

*.ilg

*.ind

*.log

*.out

*.synctex

*.synctex(busy)

*.toc

*.fdb_latexmk

*.fls

*.gz

*.synctex.gz

*.synctex.gz(busy)

*.nav

*.snm

*.dropbox

*.DS_store

*.vscode

*.xdv

*.auxlock

*.db